/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar{
        background: linear-gradient(to right bottom, #8480F4, #A5A2F6);
        margin-bottom: 50px;
    }
    .promotion-sec .video-player{
        width: 90%;
    }
    .wroks-cont .single-workflow{
        flex-basis: 100%;
        margin-bottom: 15px;
    }
    .portfolio-sec .content-div{
        text-align: center;
    }
    .portfolio-sec .navs{
        margin: 25px 0;
    }
    .portfolio-sec .navs .item{
        display: block;
        padding: 10px 5px;
        margin: 0 10px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar{
        background: linear-gradient(to right bottom, #8480F4, #A5A2F6);
        margin-bottom: 50px;
    }
    .portfolio-sec .content-div{
        text-align: center;
    }
    .portfolio-sec .navs{
        margin: 25px 0;
    }
    .portfolio-sec .navs .item{
        display: block;
        padding: 10px 5px;
        margin: 0 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar{
        background: linear-gradient(to right bottom, #8480F4, #A5A2F6);
        margin-bottom: 50px;
    }
    .portfolio-sec .content-div{
        text-align: center;
    }
    .portfolio-sec .navs{
        margin: 25px 0;
    }
    .portfolio-sec .navs .item{
        width: auto;
        margin: 0 10px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar{
        margin-bottom: 160px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar{
        margin-bottom: 160px;
    }
}